<nav class="navigator">
    <section class="logo">
        <img class="insignia" src="/image/insignia.png">
        <h2>Institución Educativa N° 22375</h2>
    </section>
    <section class="nombre">
        <h2 class="nombre-r">Nombre</h2>
        <a href="logout" class="a-logout"><img class="c-sesion" src="icons/cerrar-sesion.png"></a>
    </section>
</nav>