<style>
    #popup-content{
        display: flex;
        align-items: center;
    }
    .cerrar-popup{
        position: absolute;
        right:10px;
        top:10px;
        background-color: transparent;
        width: fit-content;
        border:none;
    }
    #icon-cerrar{
        width: 16px;
        height: 16px;
    }
    #popup-content .hor{
        width: 800px;
    }
    @media(max-width:1200px){
        #popup-content .hor{
        width: 650px;
    }
    @media(max-width:945px){
        #popup-content .hor{
        width: 460px;
    }
    @media(max-width:680px){
        .hor{
            width: 460px;
            transform: rotate(90deg);
    }       
    }
</style>

<div id="popup-container" style="display: none; position: absolute; z-index: 9999; background-color: #71717125; padding:15vh 15vw;width: 100vw; 
height: 100vh;">
    
    <div id="popup-content" style=" position: relative;width: 100%; height: 100%;background-color: rgb(253, 253, 253); display: flex; align-items: center; justify-content: center;{
        
    }">
        <% if(seccion){ %>
            <img class="hor" src="/image/<%= seccion %>.jpg" alt="Horario">
        <% } %>
        
        
        <button onclick="closePopup()" class="cerrar-popup"><img src="/icons/cerrar.png" alt="Cerrar Popup" id="icon-cerrar"></button>
    </div>
</div>
<script>
    function openPopup() {
        document.getElementById("popup-container").style.display = "block";
    }
    function closePopup() {
        document.getElementById("popup-container").style.display = "none";
    }
</script>