<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/poncho.css">
</head>
<body>
  <main class="main">
    <button class="blackBtn prev_button">AULA</button>
    <section class="info_curso">
      <h2>Datos del Aula</h2>
      <div class="box datos_aula">

      </div>
    </section>
    <form action="" class="form_curso">
      <button class="box">
        <img src="/image/folder.svg" alt="">
        <p>UNIDADES</p>
      </button>
      <button class="box">
        <img src="/image/list.svg" alt="">
        <p>ASISTENCIA</p>
      </button>
      <button class="box">
        <img src="/image/note.svg" alt="">
        <p>NOTAS</p>
      </button>
      <button class="box">
        <img src="/image/calification.svg" alt="">
        <p>EVALUACIONES</p>
      </button>
    </form>
  </main>
</body>
</html>