<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ewa.css">
    <title>Profesor Calificacion Practicas View</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navigator2.ejs') %>
    <main class="main">
        <button class="blackBtn prev_button">EVALUACIONES</button>

        <section class="parte_superior">
            <div> <h2>PRIMERA PRACTICA CALIFICADA</h2> </div>

            <button class="icon-button">
                <span class="text_guardar">GUARDAR</span>
                <span class="icon"><img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/save-512.png" alt="Icono"></span>
              </button>

            <!--  
            <div class="ps_derecha">
                <div>derecha</div>
                <button class="word_icon"></button>
            </div>
            -->

        </section>

        <section class="box parte_medio">

            <div class="alumno_container">
                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="alumno_checkbox">
                    <input type="text" id="mitext">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="alumno_checkbox">
                    <input type="text" id="mitext">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="alumno_checkbox">
                    <input type="text" id="mitext">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="alumno_checkbox">
                    <input type="text" id="mitext">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="alumno_checkbox">
                    <input type="text" id="mitext">
                </div>
                <div class="separator"></div>
            </div>
        </section>

    </main>
</body>
</html>