<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ewa.css">
    <title>Profesor Calificacion Notas View</title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    
    <main class="main">
        <button class="blackBtn prev_button">AULAS</button>

        <section class="parte_superior">
            <div> <h2>NOTAS</h2> </div>

            <button class="icon-button">
                <span class="text_guardar">GUARDAR</span>
                <span class="icon"><img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/save-512.png" alt="Icono"></span>
              </button>

            <!--  
            <div class="ps_derecha">
                <div>derecha</div>
                <button class="word_icon"></button>
            </div>
            -->

        </section>

        <section class="parte_medio">
            <div class="names_notas_container">
                <div></div>
                <div class="container_notas">
                    <h3 class="h31">P1</h3>
                    <h3 class="h32">P2</h3>
                    <h3 class="h33">E1</h3>
                </div>
            </div>
        </section>
        

        <section class="box parte_medio">

            <div class="alumno_container">
                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="container_notas">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="container_notas">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="container_notas">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="container_notas">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                </div>
                <div class="separator"></div>

                <div class="alumno_name">
                    <h3>EDWARD ANTONIO URIBE SOTO</h3>
                </div>
                <div class="container_notas">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                    <input type="text" id="minota">
                </div>
                <div class="separator"></div>
            </div>
        </section>
</body>
</html>
