<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/poncho.css">
</head>
<body>
  <main>
    <button class="blackBtn prev_button">REGRESAR</button>
    <button class="blackBtn horario_button">VER HORARIO</button>
    <!-- Problema con cursor:pointer -->
    <section class="info_curso-container">
      <h2>Nombre del Curso</h2>
      <div class="box info_curso">
        <h4>Responsable:</h4>
        <p>Mery Aadasasd Aasasd</p>
        <h4>Sección:</h4>
        <p>A</p>
        <h4>Horario:</h4>
        <p>XX:YY:ZZ</p>
      </div>
    </section>
    <form action="" class="form_curso">
      <div class="box unidades_container">
        <input type="button" class="input_button">
      </div>
      <div class="box eval_container">
        <input type="button" class="eval_button">
      </div>
      <div class="box notas_container">
        <input type="button" class="notas_button">
      </div>
    </form>
  </main>
</body>
</html>