<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/patrick.css">
    </head>
    <body>
      <%- include('./partials/navigator.ejs') %>
      <button class="blackBtn prev_button" onclick="window.history.back()">REGRESAR</button>
      <main class="main grid-patrick">
        <section class="box left_container caja-curso">
          <h4>Cursos:</h4>
          <div class="box cursos_btn">Curso A</div>
          <div class="box cursos_btn">Curso B</div>
          <div class="box cursos_btn">Curso C</div>
        </section>
        <div class="right_container">
          <img class="estadistica" src="/image/imagen4.png" alt="">
        </div>
      </main>
      <%- include('./partials/footer.ejs') %>
    </body>
</html>