<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%- include('./partials/head.ejs') %>
        <link rel="stylesheet" href="/css/patrick.css">
    </head>
    <body>
      <%- include('./partials/navigator.ejs') %>
      <button class="blackBtn prev_button" onclick="window.history.back()">REGRESAR</button>
      <main class="main grid-patrick">
        <form class="left_container" method="post" action="doce-curso-seccion">
          <button class="box directora_box text_center">Docentes<br>Curso A</button>
          <button class="box directora_box text_center">Docentes<br>Curso B</button>
          <button class="box directora_box text_center">Docentes<br>Curso C</button>
          <button class="box directora_box text_center">Docentes<br>Curso D</button>
          <button class="box directora_box text_center">Docentes<br>Curso E</button>
        </form>
        <div class="right_container">
          <img src="/image/imagen4.png" alt="">
        </div>
      </main>
      <%- include('./partials/footer.ejs') %>
    </body>
</html>