<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/poncho.css">
  <%- include('./partials/head.ejs') %>
</head>
<body>
  <main class="main">
    <section>
        <h2>Nombre del Curso</h2>
        <div class="box bimestres_container">
          <div class="bimestre">
            <h4>Bimestre 1</h4>
            <article class="box semana">
              <p>SEMANA 1</p>
            </article>
            <article class="box semana">
              <p>SEMANA 2</p>
            </article>         
          </div>
        </div>
      </section>
  </main>
</body>
</html>
