<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/patrick.css">
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
      <div class="container-de">
        <div class="rectangles">
          <div class="rectangle">Docentes <br>Curso A</div>
          <div class="rectangle">Docentes <br>Curso B</div>
          <div class="rectangle">Docentes <br>Curso C</div>
          <div class="rectangle">Docentes <br>Curso D</div>
          <div class="rectangle">Docentes <br>Curso E</div>
        </div>
      </div>
    </body>
</html>