<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/patrick.css">
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
      <div class="container-de main">
        <div class="rectangles">
          <div class="rectangles-c box">
            Cursos:
            <div class="box">Curso A</div>
            <div class="box">Curso B</div>
            <div class="box">Curso C</div>
            <div class="box">Curso D</div>
            <div class="box">Curso E</div>
          </div>

        </div>
        <div class="image-de">
          <img class="estadistica-e" src="/image/de.jpg" alt="Imagen">
        </div>
      </div>
    </body>
</html>