<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/patrick.css">
        <%- include('./partials/head.ejs') %>
    </head>
    <body>
        <main class="container-dm">
            <div class="dm-img">
              <div class="image-container">
                <img src="/image/dm-1.jpg" alt="Imagen 1">
                <div class="text-box">Desempeño alumnado</div>
              </div>
              <div class="image-container">
                <img src="/image/dm-2.jpg" alt="Imagen 2">
                <div class="text-box">Desempeño docente</div>
              </div>
            </div>
        </main>
    </body>
</html>