<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/css/poncho.css">
</head>
<body>
  <main class="main2">
    <button class="blackBtn prev_button">AULA</button>
    <section>
      <h2>Nombre del Curso</h2>
      <div class="box bimestres_container">
        <div class="bimestre">
          <h4>Bimestre 1</h4>
          <article class="box semana">
            <p>SEMANA 1</p>
            <img src="/image/flechita.svg" alt="" class="flechita" id="flechita1">
            <a href="http://google.com.pe"><img src="image/link.svg" alt="" class="logo_link">Link de la clase</a>
            <a href="http://google.com.pe"><img src="image/link.svg" alt="" class="logo_link">Link de la clase</a>
            <!-- BOTON EDITAR -->
            <form action="" class="edit_form">
              <button class="edit_btn">
                <img src="/image/edit.svg" alt="" class="edit_logo">Editar
              </button>
            </form>
          </article>
          <article class="box semana">
            <p>SEMANA 2</p>
            <img src="/image/flechita.svg" alt="" class="flechita" id="flechita2">
            <a href="http://google.com.pe"><img src="image/link.svg" alt="" class="logo_link">Link de la clase</a>
            <!-- BOTON EDITAR -->
            <form action="" class="edit_form">
              <button class="edit_btn">
                <img src="/image/edit.svg" alt="" class="edit_logo">Editar
              </button>
            </form>
          </article>
          <article class="box semana agregar_semana">
            <p>Agregar Semana</p>
            <img src="/image/plus.svg" alt="" class="icon_mas">
          </article>
        </div>
        <div class="bimestre">
          <h4>Bimestre 2</h4>
          <article class="box semana agregar_semana">
            <p>Agregar Semana</p>
            <img src="/image/plus.svg" alt="" class="icon_mas">
          </article>
        </div>
        <div class="bimestre">
          <h4>Bimestre 3</h4>
          <article class="box semana agregar_semana">
            <p>Agregar Semana</p>
            <img src="/image/plus.svg" alt="" class="icon_mas">
          </article>
        </div>
        <div class="bimestre">
          <h4>Bimestre 4</h4>
          <article class="box semana agregar_semana">
            <p>Agregar Semana</p>
            <img src="/image/plus.svg" alt="" class="icon_mas">
          </article>
        </div>
      </div>
    </section>
  </main>
</body>
</html>