/* Archivo index-e.ejs */
.e-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* Formulario index-e */
.form-asig{
    display: flex;
    width: 45%;
    border: 1px solid #54BDB7;
    border-radius: 15px;
    background-color: #fff;
    height: 85%;
    flex-direction: column;
    overflow-y: scroll;
}
.form-asig::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    padding: 5px;
}
.form-asig::-webkit-scrollbar-thumb {
    background-color: #54BDB7;
    border-radius: 20px;
}
.form-asig::-webkit-scrollbar-track {
    background-color: #ffffff;
}
/* Anuncios */
.anuncios-e{
    display: flex;
    width: 45%;
    border: 1px solid #54BDB7;
    border-radius: 15px;
    background-color: #fff;
    height: 85%;
    flex-direction: column;
}

/* Archivo e.asig.ejs */
.dia-clase{
    text-transform: capitalize;
}
.info-curso{
    width: 45%;
    display: flex;
    height: 80%px;
    flex-direction: column;
    grid-column: 1;
    justify-content: space-between;
    padding: 20px;
}
.info-c{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 60%;
    line-height: 25px;
}
.form-curso{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
}
.form-curso button{
    width: 200px;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.form-curso button img{
    width: 150px;
    margin: 10px 0;
}
.form-curso button:hover{
    background-color: #54bdb825;
    transition: .3s;
}

/* Archivo e-unidades.ejs */
.e-uni-main{
    display: flex;
    align-items: center;
}
.unidades{
    height: 80%;
    width: 80%;
    flex-direction: column;
}
.box_unidad{
    flex-direction: column;
}
.footer-raro{
    width: 100%;
    height: 60px;
    background-color: #007997;
}
.content {
    display: none;
}
/* Botón mostrar */
.toggle-btn{
    width: 20px;
    height: 19px;
    position: absolute;
    right: calc(20% + 60px);
    background-color: #ffffff00;
    border: 0;
}
.toggle-btn img{
    width: 15px;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}
.rotated img{
    transition: transform 0.5s ease;
    transform: rotate(180deg);
}

/* Archivo e-calificaciones.ejs */
.cal-box{
    width: 90%;
    height: 80%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 85%;
}
.t-notas{
   display: block; 
}
.box-notas{
    flex-direction: column;
    height: 90%;
    grid-column: 1/span 1;
    overflow-y: scroll;
}
.box-n-e{
    justify-content: space-between;
}
.box-promedio{
    justify-content: space-between;
    height: fit-content;
}