/* contenedor vista principal director*/
.container-dm{
    margin-top:130px;
    align-items: center;
    width: 100%;
    align-content: center;
}
/* espaciado imagenes director*/
.dm-img {
    display:flex;
    width: 85%;
    margin: auto;
  }
/* contenedor de imagenes */
  .image-container {
    display: inline-block;
    position: relative;
    padding: 0%;
    text-align: center;
    margin: auto;
  }
/* imagenes*/
  .image-container img {
    height: 500px;
  }
/* texto en imagenes */
  .text-box {
    position: absolute;
    margin:auto;
    top: 15%;
    left: 8%;
    right: 10%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #010000;
    padding: 4%;
    box-sizing: border-box;
    border: 1px solid #54BDB7;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
  }
  /* contenedor desempeño estudiantes*/
  .container-de{
    display: flex;
    margin-top: 130px;
  }
  /* contenedor para los rectangulos*/
  .rectangles {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin:auto;
    
  }
/* rectangulo */
  .rectangle {
    width: 500px;
    height: 80px;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #54BDB7;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    margin: 0 0 5% 0;
  }
  /*rectangulo para seccion */
  .rectangless {
    width: 500px;
    height:500px;
    background-color: #ccc;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #54BDB7;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    margin: 0 0 10px 0px;
    margin-bottom: 10px;
    line-height: 3;
  }

  /* rectangulos para cursos*/
  .rectangles-c{
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
/*contenedor imagen de las estadisticas */
  .image-de {
    margin: auto;
    text-align: center;
  }
/* imagen estadisticas */
  .estadistica-e{
    width: 60%;
  }