.grid-patrick{
  display:grid;
  grid-template-columns: .7fr 1fr;
  grid-row-gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
}
.grid-main-patrick-seccion{
  grid-template-rows: 1fr .2fr 1fr;
}
.left_container{
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.right_container{
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resumen_grafico{
  grid-column: span 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 120px;
  text-align: justify;
}
.graficobox_container{
  grid-column: 2;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grafico{
  width: 80%;
}


.directora_box{
  width: 70%;
  min-width: 340px;
  height: 10vh;
}
.text_center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.cursos_btn{
  width: 90%;
}

.grid-patrick-2{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
}
.bg_alumnos{
  background-image: url('/image/dm-1.jpg');
  height: 80%;
  background-position: 100% 20%;
  background-size: cover;
}
.bg_docentes{
  background-image: url('/image/dm-2.jpg');
  height: 80%;
  background-position: 100% 20%;
  background-size: cover;
}
.caja-curso{
  width: 30vw;
}
.general_mean_graph{
  width: 100%;
}
@media (max-width: 1024px) {
  .footer{
    display:none;
  }
  .grid-patrick{
    display:inline-block;
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
    padding: auto;
  }
  .grid-patrick-2{
    display:inline-block;
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
  }
  .left_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 50vw;
    margin: 5vh auto;
  }
  .right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 30vh;
    margin: 3vh auto;
  }
  .estadistica{
    width: 50vh;
    
  }
  .directora_box{
    width: 70%;
    min-width: 340px;
    height: 4vh;
  }
  .caja-curso{
    width: 45vw;
    margin-top: 6vh;
  }

}
@media (max-width: 700px){
  .caja-curso{
    width: 55vw;
    font-size: 1.5vh;
  }
  .left_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 50vw;
    margin: 10vh auto 3vh auto;
  }
  .directora_box{
    width: 70%;
    height: 4vh;
    font-size: 1.5vh;
  }
  .right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 30vh;
    margin: 3vh auto;
  }
  .cursos_btn{
    height: 50px;
    align-items: center;
  }
  .estadistica{
    width: 35vh;
  }
  .box{
    padding: 10px 20px;
}
}
@media (max-width: 376px){
  .left_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    width: 50vw;
    margin: 6vh auto 3vh auto;
  }
  .directora_box{
    width: 70%;
    height: 4vh;
    font-size: 1.5vh;
  }
  .right_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 30vh;
    margin: 3vh auto;
  }
  .cursos_btn{
    height: 50px;
    align-items: center;
  }
  .estadistica{
    width: 35vh;
    
  }
}

.textoresumen h3{
  font-size: 22px;
  margin-bottom: 16px;
}
.textoresumen p{
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
}
@media (max-width: 560px){
  .c-sesion{
    width: 30px;
    margin-left: -10px;
  }
}
