.grid-patrick{
  grid-template-columns: 0.6fr 1fr;
}
.directora_box{
  width: 70%;
  min-width: 0;
  height: 8vh;
}
@media(max-width: 1100px){
  .grid-patrick{
    padding: 30px 0;
  }
  .cajagrafico_container{
    margin-left: 60px;
  }
  .cajagrafico_container h3{
    font-size: 20px;
  }
  .cajagrafico_container p{
    font-size: 14px;
  }
}
@media(max-width: 1024px){
  .left_container{
    width: 100%;
    height: auto;
  }
  .directora_box{
    height: 56px;
    width: 350px;
  }
  .right_container{
    width: 100%;
    height: auto;
  }
  .general_mean_graph{
    width: 70%;
  }
  .g_brr_rc{
    height: 450px;
  }
  .g_brr_rc img{
    height: 100%;
    width: auto;
  }
  .textoresumen{
    padding: 40px;
  }
  .cajagrafico_container{
    margin: 0 14vw;
  }
  .main{
    margin: 0 !important;
  }
}
@media(max-width: 720px){
  .prev_doce{
    top:149px !important;
  }
  .resumen_grafico h3{
    font-size: 14px;
  }
  .resumen_grafico p{
    font-size: 10px;
  }
}
@media (max-width: 700px){
  .general_mean_graph{
    width: 90%
  }
  .left_container{
    margin: 20px auto;
  }
} 
@media(max-width: 600px){
  .g_brr_rc{
    height: 60vw;
  }
  .grid-main-patrick-seccion h3{
    font-size: 16px;
  }
  .grid-main-patrick-seccion p{
    font-size: 12px;
  }
  .cajagrafico_container{
    margin: 0;
    display:flex;
    flex-direction: column;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
  }
  .cajagrafico_container p{
    width: 70vw;
  }
  .graficobox_container{
    margin-top: 30px;
  }
}
@media(max-width: 560px){
  .blackBtn{
    top:139px;
  }
}
@media(max-width:450px){
  .logo h2{
    display: none;
  }
  .directora_box{
    width: 60%;
    height: 40px;
  }
}